<%= form_tag dashboard_sites_path, remote: true do %>

  <div class="form box box-info">
    <div class="box-header">
      <h2 class="box-title">
        <span ng-if="!editing" translate>Sites</span>
        <span ng-if="editing" translate>Edit Sies</span>
      </h2>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-sm-4 form-group col-sm-offset-2">
          <%= text_field_tag :domain, "", :class => "form-control input-lg rounded string_field" %>
        </div>
        <div class="col-sm-2 form-group pull-left ">
          <% if @namespaces.empty? %>
            <%= text_field_tag :namespace, "", :class => "form-control input-lg rounded string_field" %>
          <% else %>
            <%= select_tag "namespace", options_from_collection_for_select(@namespaces, "id", "name"), :class => "form-control input-lg rounded  string_field" %>
          <% end %>
        </div>
        <div class="col-sm-2 form-group pull-left ">
          <h2> <label>.Factorien.com</label></h2>
        </div>
      </div>
    </div>

  </div>
  <div class="form box box-info">
    <div class="box-body">
      <div class="row">
        <div class="col-sm-4 form-group">
          <label><span translate><%= label_tag :title %></span> :</label>
          <%= text_field_tag :title, "", :class => "form-control input-lg rounded string_field" %>
        </div>


        <div class="col-sm-4 form-group pull-left col-sm-offset-2">
          <label><span translate><%= label_tag :site_category %></span> :</label>
          <%= select_tag "siteCategories", options_from_collection_for_select(@siteCategories, "id", "name"), :class => "form-control input-lg rounded string_field" %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4 form-group">
          <label><span translate><%= label_tag :gear_box %></span> :</label>
          <%= select_tag "gear", options_from_collection_for_select(@gears, "id", "name"), :class => "form-control input-lg rounded " %>
        </div>


      </div>

      <div class="row">
        <div class="col-sm-6 columns">
          <button type="submit" class="btn btn-lg btn-success" ><i class="fa fa-check"></i> <span translate>Submit</span></button>
          <button class="btn btn-lg btn-danger" ><i class="fa fa-times"></i> <span translate>Cancel</span></button>
        </div>
      </div>
    </div>

  </div>

<% end %>
